.container{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    /* background-image: url(container-background-image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}
body{
    background-image: url(container-background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 105%;
}
label{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.user-info #email, #password{
    display: block;
    width: 300px;
    height: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    border: 1px solid rgba(121, 115, 115, 0.801);
    border-radius: 4px;
    box-shadow: 2px 2px 10px #ccc;
}
.checkbox input{
    display: inline;
    vertical-align: middle;
    margin-right: 0;
}
.checkbox label{
    font-weight: 700;
    font-size: small;
    vertical-align: middle;
}
.user-info, .buttons{
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
}
.company-logo{
    width: 400px;
    height: 150px;
    margin-bottom: 40px;
}
.company-logo img{
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    margin-left: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #ccc;
}
button{
    background-image: url(container-background-image.jpg);
    background-size: 100% 100%;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: white;
    transition: opacity 0.15s;
}
button:hover{
    cursor: pointer;
    transform: scale(1.01, 1.01);
    opacity: 0.8;
    box-shadow: 4px 4px 8px #ccc;
}