  .subscribe-button {
	background-color: #cc0000;
	color: white;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 6px;
	transition: opacity 0.15s;
	padding-top: 9px;
	padding-right: 15px;
    	padding-bottom: 9px;
    	padding-left: 15px;
	vertical-align: top;
	}
  .subscribe-button:hover{
	opacity: 0.7;
	}
  .subscribe-button:active{
	opacity: 0.5;
	}
  .join-button {
	background-color: white;
	color:  #065fd4;
	border-width: 1px;
	border-color: #065fd4; 
	border-style: solid;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 6px;
	transition: background-color 0.15s, color 0.15s;
	padding-top: 9px;
	padding-right: 15px;
    	padding-bottom: 9px;
    	padding-left: 15px;
	vertical-align: top;
	}
  .join-button:hover{
	background-color: #065fd4;
	color: white;
	}
  .join-button:active{
	opacity: 0.7;
	}
  .tweet-button {
	background-color: #1d9bf0;
	color:  white;
	border: none;
	border-radius: 17px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	transition: shadow 0.15s;
	padding-top: 9px;
	padding-right: 15px;
    	padding-bottom: 9px;
    	padding-left: 15px;
	vertical-align: top;
	}
  .tweet-button:hover{
	box-shadow: 4px 4px 6px rgba(0,0,0,0.15);
	}