.search-bar{
    height: 40px;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(196, 196, 196, 0.15);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
}
.search-icon{
    height: 25px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(223, 222, 222);
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    display: flex;
    margin-left: 65px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
    flex: 1;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
}
.search-button, .voice-search-button, .upload-icon-container,
.youtube-apps-icon-container, .notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button .tooltip, .voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position: absolute;
    background-color: grey;
    font-family: Roboto, Arial;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    border: none;
    background-color: rgb(245,245,245);
    cursor: pointer;
}
.voice-search-icon{
    height: 25px;
}
.right-section {
    width: 200px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.current-user-picture{
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    font-family: Roboto, Arial;
    font-size: 11px;
    color: white;
    background-color: rgb(199, 14, 14);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}